@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 20%;
    --primary: 340 100% 85%;
    --primary-foreground: 0 0% 20%;
    --secondary: 130 50% 85%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 30%;
    --accent: 340 100% 70%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 95%;
    --ring: 340 100% 70%;
    --radius: 0.5rem;

	  --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--secondary);
    --sidebar-accent-foreground: var(--secondary-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }

  .dark {
    --background: 0 0% 18%;
    --foreground: 0 0% 90%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 22%;
    --popover-foreground: 0 0% 90%;
    --primary: 340 100% 75%;
    --primary-foreground: 0 0% 20%;
    --secondary: 150 40% 75%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 90%;
    --accent: 340 100% 60%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 100% 55%;
    --destructive-foreground: 0 0% 18%;
    --border: 0 0% 30%;
    --input: 0 0% 20%;
    --ring: 340 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}