name: publish-web-dev-image
permissions:
  packages: write
  contents: read
  
on:
  push:
    branches:
      - main
      - api
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up docker
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the docker image
      run: |
        docker build . --tag ghcr.io/suchmememanyskill/mesh-organiser:dev
        docker push ghcr.io/suchmememanyskill/mesh-organiser:dev