name: publish-web-release-image

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up docker
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build the docker image
      run: |
        export VITE_APP_VERSION=$(git describe --tags || "Unknown")
        docker buildx build --build-arg VITE_APP_VERSION="$VITE_APP_VERSION" --platform linux/amd64,linux/arm64 -t ghcr.io/suchmememanyskill/mesh-organiser:latest -t ghcr.io/suchmememanyskill/mesh-organiser:$VITE_APP_VERSION --push .