name: 'force-build'

on: workflow_dispatch

env:
  MESH_THUMBNAIL_REPO: suchmememanyskill/mesh-thumbnail

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: win-amd64
            target: x86_64-pc-windows-gnu
            os: windows-latest
            args: ''
          - name: linux-amd64
            target: x86_64-unknown-linux-gnu
            os: ubuntu-22.04
            args: ''
          - name: macos-amd64
            target: x86_64-apple-darwin
            os: macos-latest
            args: '--target x86_64-apple-darwin'
          - name: macos-arm64
            target: aarch64-apple-darwin
            os: macos-latest
            args: '--target aarch64-apple-darwin'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.os == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: install dependencies (ubuntu only)
        if: matrix.name == 'linux-amd64'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: pnpm install

      - uses: tauri-apps/tauri-action@v0
        id: build-step
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        with:
          args: ${{ matrix.args }}
          includeDebug: true
      
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: tauri-build-${{ matrix.name }}
          path: |
            src-tauri/target/${{ matrix.target }}/debug/bundle/**/*
            src-tauri/target/debug/bundle/**/*
            src-tauri/target/${{ matrix.target }}/release/bundle/**/*
            src-tauri/target/release/bundle/**/*
          if-no-files-found: error